
@{
    ViewBag.Title = "Ventas";
}

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Peliculas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="#">Peliculas </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="@Url.Action("Index","Usuarios")">Usuarios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Rentas")">Rentas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Ventas")">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("LogOff","Home")">Cerrar Sesion</a>
            </li>
        </ul>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<center><h2>Datos Ventas</h2></center>
<!-- Boton Nuevo  -->
<div class=" row" style="text-align:right; padding:5px">
</div>
<!-- Creo tabla  -->
<div class="row">
    <div class="col-md-12">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Fecha Hora Venta</th>
                    <th>Total Venta</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <!-- Recorro el modelo para imprimir datos -->
            @foreach (var elemento in Model)
            {
                <tr>
                    <td>@elemento.IdOrdenVenta </td>
                    <td>@elemento.FechaHoraOrdenVenta</td>
                    <td>@elemento.TotalVenta</td>
                    <td>@elemento.IdUsuario</td>
                    <td>@elemento.EstadoOrdenVenta </td>
                </tr>
            }
        </table>
    </div>
</div>
